@import url('https://fonts.googleapis.com/css?family=Kalam:700&display=swap');

* {
  margin: 15px;
  padding: 0px;
  box-sizing: border-box;
}
/* Example styling of a title class */
.title {
  color: #043506;
  text-align: center;
  font-size: 55px;
  margin-bottom: 45px;
}
/* styling of a section */
section {
    color: #ffffff;
    text-align: center;
}

section a {
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    color: #dafa25;
    margin-left: -20px;
}

#prime {
    background-attachment: fixed;
    margin-bottom: -20px;
}

#prime a {
    color: #f0f0f7;
    text-decoration: none;
    background-color: #000000;
    font-size: 50px;
}

#scrum {
    width: 100%;
    background: #1a41c2;
    font-family: 'Modak', cursive;
    text-align: justify;
    padding: 10px;
}

footer {
    background-color: #000000;
    text-align: center;
    color: #fa2556;
}


/* On screens that are 992px wide or bigger*/
@media screen and (min-width: 992px) {
  #scrum {
    background-color: olive;
    color: white;
  }
}

/* ----------- iPhone 6 to X ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 361px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #scrum {
      background-color: #613879;
      color: white;
    }
}